---
import Layout from "../components/layout.astro";
import Gif from "../assets/intro.gif";
---

<Layout>
    <header>
        <h1>The Entrancing World of The Spirograph</h1>
        <img src={Gif} alt="spirograph animation" />
    </header>

    <main>
        <p>
            Spirographs are a toy and mathematical tool for creating beautiful looking curves,
            stars, and patterns. Though they only became famous in the 1960s, their history can be
            traced all the way back to the 1820s, and the math that governs them has been studies
            since the Ancient Greeks.
        </p>
        <p>
            So why don't we look into what makes these things tick? And play around with different
            wheels and different trakcs.
        </p>

        <ul>
            <li><a href="#">Chapter 0: The Entrancing World of the Spirograph</a></li>
            <li><a href="../hypotrochoid">Chapter 1: Round and Round Again.</a></li>
            <li><a href="../epitrochoid">Chapter 2: Coloring Outside the Lines.</a></li>
            <li><a href="../ellipse">Chapter 3: Ellipses Around the World</a></li>
        </ul>
    </main>
</Layout>

<style>
    header {
        width: 100vw;
        height: 100vh;
        display: grid;
        place-content: center;
    }

    header h1 {
        text-align: center;
        z-index: 2;
    }

    header h1,
    header img {
        grid-column: 1;
        grid-row: 1;
    }

    main {
        margin-inline: auto;
        width: calc(100% - 8rem);
        max-width: 800px;
    }
</style>
