---
const { link } = Astro.props;
---

<div>
    <iframe class="desmos" src={link}></iframe>
</div>

<style>
    div {
        display: flex;
        justify-content: center;
    }

    iframe {
        flex-shrink: 0;
        width: 100%;
        aspect-ratio: 1;
        resize: both;
        border: solid 1px gray;
        margin-block: 1rem;
    }
</style>
