---
const { link } = Astro.props;
---

<div>
    <iframe class="desmos" src={link}></iframe>
</div>

<style>
    div {
        display: grid;
        place-content: center;
        grid-template-columns: 1fr;
    }

    iframe {
        padding: 0.5rem;
        width: 100%;
        aspect-ratio: 1;
        resize: both;
        border: solid 1px gray;
        margin-block: 1rem;
    }
</style>
