---
import Layout from "../components/layout.astro";
import Nav from "./nav.astro";
import Footer from "./footer.astro";
---

<Layout>
    <header>
        <video autoplay muted src="/spirographs/assets/intro.mp4"></video>
        <div>
            <h1>The Entrancing World of The Spirograph</h1>
            <h2>By Nancy Chen and Sebastian Branch</h2>
        </div>
    </header>

    <article>
        <slot />
        <Footer chapter="0" />
    </article>

    <Nav />
</Layout>

<style>
    header {
        width: 100vw;
        height: 90vh;
        display: grid;
        place-items: center;
        color: white;
        background-color: black;
    }

    header video,
    header div {
        grid-row: 1;
        grid-column: 1;
    }

    header video {
        height: 90vh;
        object-fit: cover;
    }

    header div {
        z-index: 2;
        text-align: center;
    }
</style>

<script>
    // const video = document.querySelector("video") as HTMLVideoElement;
    // video.onended = () => video.pause();
</script>
