---
import Layout from "../components/layout.astro";
import Nav from "./nav.astro";
---

<Layout>
    <header>
        <video autoplay loop muted src="/spirographs/assets/intro.mp4"></video>
        <div>
            <h1>The Entrancing World of The Spirograph</h1>
            <h2>By Nancy Chen and Sebastian Branch</h2>
        </div>
    </header>

    <main>
        <slot />
    </main>

    <Nav />
</Layout>

<style>
    header {
        width: 100vw;
        height: 100vh;
        display: grid;
        place-items: center;
        color: white;
        background-color: black;
    }

    header video,
    header div {
        grid-row: 1;
        grid-column: 1;
    }

    header video {
        height: 100vh;
        object-fit: cover;
    }

    header div {
        z-index: 2;
        text-align: center;
    }

    main {
        margin-inline: auto;
        width: calc(100% - 8rem);
        max-width: 800px;
    }
</style>
