---
const { title = "The World of the Spirograph!" } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/spirographs/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content="An interactive look into the math of spirographs and other spirals!" />
        <meta name="keywords" content="spirographs, math, spirals, trochoids, epitrochoids" />
        <meta name="author" content="Nancy Chen and Sebastian Branch" />
        <meta name="theme-color" content="#f08078" />

        <meta property="og:site_name" content="esby.space" />
        <meta property="og:title" content="The World of the Spirograph! | esby.space" />
        <meta property="og:description" content="An interactive look into the math of spirographs and other spirals!" />
        <meta property="og:image" content="/spirographs/assets/intro.png" />
        <meta name="twitter:card" content="/spirographs/assets/intro.png" />

        <meta name="google-site-verification" content="0HRarsYAX29nHFJW-xpfUb8kmg8CvwQnqoooN2VNW8E" />
    </head>

    <body>
        <slot />

        <style is:global>
            @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");

            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            [hidden],
            [aria-hidden="true"] {
                display: none !important;
            }

            body {
                margin: 0;
                padding: 0;
                font-family: "Noto-sans", sans-serif;
                font-size: 20px;
                font-weight: 300;
                line-height: 2.2rem;
            }

            article {
                margin-inline: auto;
                padding-bottom: 4rem;
                width: calc(100% - 8rem);
                max-width: 800px;
            }

            [hidden] {
                display: none !important;
            }

            /* tooltips */
            [data-tooltip] {
                position: relative;
            }

            [data-tooltip]::after {
                content: attr(data-tooltip);
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                width: 300px;
                max-width: max-content;
                padding: 8px;
                z-index: 10;
                transform: translateY(-20px);
                border-radius: 0.5rem;
                background-color: white;
                box-shadow: 0 0 0.5rem grey;
                opacity: 0;
                color: black;
                transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
                pointer-events: none;
            }

            [data-tooltip]:hover::after {
                opacity: 1;
                transform: translateY(0);
                transition-duration: 0.2s;
            }
        </style>
    </body>
</html>
