---
const { title = "An Exploration into Spirographs" } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
    </head>

    <body>
        <slot />

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");

            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            [hidden],
            [aria-hidden="true"] {
                display: none !important;
            }

            body {
                margin: 0;
                padding: 0;
                font-family: "Noto-sans", sans-serif;
                font-size: 24px;
                font-weight: 300;
            }
        </style>
    </body>
</html>
