---
const pages = await Astro.glob("../pages/*.mdx");
---

<nav id="main" hidden>
    <h3>Chapters</h3>
    {
        pages
            .sort((a, b) => a.frontmatter.chapter - b.frontmatter.chapter)
            .map((page) => (
                <li>
                    <a href={page.url + "/"}>{page.frontmatter.title}</a>
                </li>
            ))
    }
</nav>

<button id="show"><strong>Chapters</strong></button>

<style>
    nav,
    button {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        padding: 1rem;

        height: max-content;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem grey;

        font-size: inherit;
        border: none;
    }

    nav h3 {
        text-align: center;
        margin-block: 0.5rem;
        cursor: pointer;
    }

    nav li {
        margin-block: 0.5rem;
    }

    nav li:hover {
        color: deeppink;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    button:hover {
        cursor: pointer;
        box-shadow: 0 0 1rem grey;
        transition: all 0.2s;
    }
</style>

<script>
    const nav = document.querySelector("nav#main") as HTMLElement;
    const title = nav.querySelector("h3") as HTMLElement;
    const hide = document.querySelector("#show") as HTMLButtonElement;

    const toggle = () => ([hide.hidden, nav.hidden] = [!hide.hidden, !nav.hidden]);
    title.onclick = toggle;
    hide.onclick = toggle;
</script>
