<nav>
    <h3>Chapters</h3>
    <li><a href="/spirographs/">Introduction</a></li>
    <li><a href="/spirographs/hypotrochoid">Round and Round Again</a></li>
    <li><a href="/spirographs/epitrochoid">Drawing Outside the Lines</a></li>
    <li><a href="/spirographs/ellipse">Around an Elliptical World</a></li>
    <li><a href="/spirographs/tracks">Spirals of Many Shapes</a></li>
    <li><a href="/spirographs/credits">Credits and Shoutouts</a></li>
</nav>

<button id="show" hidden>Show Chapters</button>

<style>
    nav,
    button {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        padding: 1rem;

        height: max-content;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 1rem grey;

        font-size: inherit;
        border: none;
    }

    nav h3 {
        text-align: center;
        margin-block: 0.5rem;
        cursor: pointer;
    }

    nav li {
        list-style: circle;
        margin-block: 0.5rem;
    }

    nav a {
        text-decoration: none;
        color: black;
    }
</style>

<script lang="js">
    const nav = document.querySelector("nav");
    const title = nav.querySelector("h3");
    const hide = document.querySelector("#show");

    title.onclick = () => {
        hide.hidden = false;
        nav.hidden = true;
    };

    hide.onclick = () => {
        hide.hidden = true;
        nav.hidden = false;
    };
</script>
