<nav>
    <h3>Chapters</h3>
    <li><a href="/spirographs/">Introduction</a></li>
    <li><a href="/spirographs/hypotrochoid">Round and Round Again</a></li>
    <li><a href="/spirographs/epitrochoid">Drawing Outside the Lines</a></li>
    <li><a href="/spirographs/ellipse">Ellipses Around the World</a></li>
</nav>

<style>
    nav {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        padding: 1rem;

        height: max-content;
        border: 1px solid black;
        border-radius: 1rem;
    }

    nav h3 {
        text-align: center;
        margin-block: 0.5rem;
    }

    nav li {
        list-style: circle;
        margin-block: 0.5rem;
    }

    nav a {
        text-decoration: none;
        color: black;
    }
</style>
