---
import Layout from "./layout.astro";
import Nav from "./nav.astro";
---

<Layout>
    <main>
        <slot />
    </main>
    <Nav />
</Layout>

<style is:global>
    main {
        margin-inline: auto;
        margin-block: 4rem;
        width: calc(100% - 8rem);
        max-width: 800px;
        position: relative;
    }

    .math-display {
        display: grid;
        place-content: center;
    }

    img {
        width: 100%;
        display: block;
    }

    details summary {
        padding: 1rem;
        margin-block: 1rem;
        background-color: pink;
        cursor: pointer;
        font-weight: bold;
        border-radius: 1rem;
    }

    /* section numbering */
    main {
        conter-reset: h2Counter;
    }

    main h1 {
        counter-reset: h2Counter;
    }

    main h2 {
        counter-reset: h3Counter;
    }

    main h2::before {
        content: counter(h2Counter) ". ";
        counter-increment: h2Counter;
    }

    main h3::before {
        content: counter(h2Counter) "." counter(h3Counter) ". ";
        counter-increment: h3Counter;
    }
</style>
