---
import Layout from "./layout.astro";
import Nav from "./nav.astro";
---

<Layout>
    <main>
        <slot />
    </main>
    <Nav />
</Layout>

<style>
    main {
        margin-inline: auto;
        width: calc(100% - 8rem);
        max-width: 800px;
    }
</style>
