---
import Layout from "./layout.astro";
import Nav from "./nav.astro";
---

<Layout>
    <main>
        <slot />
    </main>
    <Nav />
</Layout>

<style is:global>
    main {
        margin-inline: auto;
        margin-block: 4rem;
        width: calc(100% - 8rem);
        max-width: 800px;
        position: relative;
    }

    .math-display {
        display: grid;
        place-content: center;
    }

    img {
        width: 100%;
        display: block;
    }
</style>
