---
import Layout from "./layout.astro";
import Nav from "./nav.astro";
import Footer from "./footer.astro";

const page = Astro.props.frontmatter;
console.log(page);
---

<Layout title={page.title}>
    <main>
        <slot />
        <Footer chapter={page.chapter} />
    </main>
    <Nav />
</Layout>

<style is:global>
    main {
        margin-inline: auto;
        margin-block: 4rem;
        width: calc(100% - 8rem);
        max-width: 800px;
        position: relative;
    }

    .math-display {
        display: grid;
        place-content: center;
    }

    img {
        width: 100%;
        display: block;
    }

    /* hint thingies */
    details {
        margin-block: 1rem;
        padding: 1rem 1rem 0;
        border: 1px solid pink;
        border-radius: 1rem;
    }

    summary {
        margin: -1rem -1rem 0;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        background-color: pink;
        font-weight: bold;
    }

    details[open] {
        padding: 1rem;
    }

    details[open] summary {
        border-bottom: 1px solid pink;
    }

    details p {
        height: 0;
    }

    /* section numbering */
    main h1 {
        counter-reset: h2Counter;
    }

    main h2::before {
        content: counter(h2Counter) ". ";
        counter-increment: h2Counter;
    }

    main h2 {
        counter-reset: h3Counter;
    }

    main h3::before {
        content: counter(h2Counter) "." counter(h3Counter) ". ";
        counter-increment: h3Counter;
    }
</style>
